@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>FisherLink</h1>
</div>
<style>
    body {
        background-image: url("https://www.osu.edu/assets/downloads/images/bigpics/widescreen/23.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
</style>
