@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Index.css" />
<div class="jumbotron">
    <h1> <font size="30" color="white" font-weight="bold" font-family="Ariel">FisherLink </font></h1>
</div>
